
// General
html {
	font-smoothing: antialiased;
}
body {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;

	font-size:8px;
	font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  // text-rendering: optimizeLegibility;
	// text-rendering: geometricPrecision;
}
