.module.ajax-loading {

	.copy {
		// SetBodyFont();
		.cta {
			text-align:center;
			margin-top: 100px;
			overflow:hidden;
			
			p {
				
				margin-bottom: 40px;
			}
			a {
				background-color: #006167;
				display:inline-block;
				padding: 18px 46px 15px 46px;
				color: #fff;
				text-decoration: none;
				font-size: 12px;
				
				transition: background 300ms;
				&:hover {
					background-color: #07838B;
				}
			}
		}
	}
}
