.module.scroll-detection {
	.detection-demo {
		position: relative;
		width: calc(100% - 80px);
    max-width: 600px;
		height: 60vh;
		margin: 0 auto;
		
		border-top: 1px solid grey;
		border-bottom: 1px solid grey;
		
		.box,
		.large-box {
			position: absolute;
			
			// Align text in middle of .box
			display: flex;
	    justify-content:center;
	    align-content:center;
	    flex-direction:column;
			
			transition: background 1s;
			
			.description {
				font-size: 16px;
				text-align: center;
				color: totalHeightblue;
				
				// Animation
				opacity:0;
				transition: transform 1s, opacity 1s, color 2s;
				transform: scale(2);
			}
			
			// Active state
			&.active {
				background: blue;
				
				.description {
					color: #fff;
					transform: scale(1);
					opacity:1;
				}
			}
		}
		
		
		.box {
			width: 64px;
			height: 64px;
		}
		
		.large-box {
			width: 154px;
			height: 154px;
		}
		
		.enter {
			top: calc(50% - 154px);
			left: calc(50%);
			background-color: #002230;
			color: #fff;
		}
		.leave {
			top: calc(50%);
			left: calc(50% - 154px);
			background-color: #E5EFEF;
		}
			
		.enter-top {
			top:0;
			left:0;
			background-color: #023A51;
			color: #fff;
		}
		.enter-bottom {
			top:0;
			right:0;
			background-color: #006167;
			color: #fff;
		}
		
		.leave-top {
			bottom:0;
			left:0;
			background-color: #023A51;
			color: #fff;
		}
		.leave-bottom {
			bottom:0;
			right:0;
			background-color: #B2E1E9;
		}
		
	}
}
