
.scene {
	.module.copy {
		padding: 40px;
		border: 1px solid #ccc;
		ul {
			font-size:0;
			margin-top: 80px;
			margin-bottom: 80px;
			
			li {
				display:inline-block;
				vertical-align:top;
				background: lightgrey;
				
				width: calc(33.333% - 40px);
				margin-left: 20px;
				margin-right: 20px;
				
				h2 {
					SetH3Font();
					padding-bottom: 20px;
					text-align:left;
				}
				p {
					SetBodyFont();
				}
			}
		}
	}
}
