.module.video-loader {
	.media {
		position: relative;
		width: 68%;
		margin-left: 16%;
		video {
			width: 100%;
			height: auto;
		}
		.description {
			position: absolute;
			top: -16px;
		}
		
		.big-play-icon {
			background: rgba(0, 0, 0, 0.5);
			position: absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			z-index:1;
			transition: background 600ms;
			
			&:hover {
				cursor: pointer;
				background: rgba(0, 0, 0, 0);
				.icons {
					transform: scale(1.2);
				}
			}
			.icons {
				position:absolute;
				width:72px;
				height:72px;
				top: calc(50% - 36px);
				left: calc(50% - 36px);
				
				transition: transform 300ms;
				transform-origin: 50% 50%;
				.icon {
					fill-rule:evenodd;
					clip-rule:evenodd;
					fill:#FFFFFF;
				}
				.pause {
					display:none;
				}
			}
		}
	}
}


.module.video-player {
	.videos {
		.media:first-child {
			position: relative;
			width: calc(100% / 12 * 7); // 7 columns wide (12 col grid)
			z-index: 1; // on top of last-child
			video {
				width: 100%;
				height: auto;
			}
		}
		
		.media:last-child {
			position: relative;
			width: calc(100% / 12 * 6); // 6 columns wide (12 col grid)
			margin-left: calc(100% / 12 * 5); // push 5 columns
			overflow:hidden;
			
			video {
				position: absolute;
    		top: 0;
				width: 100%;
				height: auto;
			}
		}
	}
}

.module.video-viewport {
	width: 100%;
	.media {
		width: 100%;
		overflow:hidden;
	}
}
